.glavnaya{

  background-size: 100% ;
   border-radius: 20px;
   color: #F9F6DB;
height: 800px;
}


.kartinka{
  width: 10%;
  height: 10%;
  border-radius: 90%;
  padding: 5%;
}

.aboutme{
    background-color: #ECECEB;
    height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aboutme_item{
    background-color: #CDCDCD;
    height: 310px;
    width: 500px;
    text-align: center;
    border-radius: 15px;
    margin-left: 3%;
    margin-right: 3%;
  }


.contact{
  background-color: #333333;
  border-radius: 10px;
  margin-top: 40px;
  height: 300px;
  color: #CDCDCD;
}

.contact1{
  position: relative;
  top: 10px;
  background-color: #ECECEB;
  height: 150px;
 border-radius: 20px;
 margin-left:15%;
 margin-right:15%;
}

.contactinst{
  position: relative;
height: 100px;
top: 25%;
display: inline-block;
width: 25%;
border-radius: 15px;
margin-left: 7.5%;
margin-right: 5%;
}

.contact2{
  position: relative;
height: 100px;
top: 10%;
display: inline-block;
width: 25%;
border-radius: 15px;
margin-right: 5%;
color:#333333;
}

.contact3{
  position: relative;
height: 100px;
top: 10%;
display: inline-block;
width: 25%;
border-radius: 15px;
margin-right: 5%;
color:#333333;
}


.inst{
   display: inline-block;
   margin-right: 5%;
}
.teleg{
  display: inline-block;
  margin-right: 5%;
}

.vkcom{
  display: inline-block;
  margin-right: 5%;
}
